<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main flex items-center justify-center w-full h-screen bg-zinc-900 ">
      <form action="/register" method="post" class=" w-full  items-center justify-center text-white bg-zinc-800 flex-col">
        <input
          type="text"
          placeholder="name"
          name="name"
          class="rounded-lg px-5 py-3 outline-none focus:green"
        />
        <input
          type="text"
          placeholder="username"
          name="username"
          class="rounded-lg px-5 py-3 outline-none focus:green"
        />
        <input
          type="email"
          placeholder="email"
          name="email"
          class="rounded-lg px-5 py-3 outline-none focus:green"
        />
        <input
          type="password"
          placeholder="password"
          name="password"
          class="rounded-lg px-5 py-3 outline-none focus:green"
        />
        <input
          type="submit"
          placeholder="name"
          name="name"
          class="bg-blue-600 hover:bg-blue-500 rounded-lg px-5 py-3 outline-none focus:green"
        />
      </form>
    </div>
  </body>
</html>
